.footer-1 {
  /*Position ( begin )*/
  padding: 50px 0px;


  /*Position ( end )*/
  /*Fonts ( begin )*/
  .company-name {
    @include font( $size: 13px, $text-transform: 'up' );
  }
  /*Fonts ( end )*/
  /*Colors ( begin )*/
  @include block__colors (
           $backgroundColor: $color-4-layout,
           $textColor: $color-14-layout,
           $iconsColor: $color-14-layout,
           $linksColor: $color-14-layout
  );

  .company-name {
    color: $color-2-layout;
  }

  .links:hover {
    color: $color-9-layout;
  }
  /*Colors ( end )*/
}
