.form {
  /*Position ( begin )*/
  &__label {
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  &__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border: 1px solid $color-tr-layout;
    border-radius: 0px;
  }
  &__input--prices {
    width: auto;
    min-width: 50px;
    max-width: 49%;
    padding-left: 5px;
    padding-right: 5px;
  }
  &__input--dates {
    width: auto;
    min-width: 10px;
    max-width: 49%;
    padding-left: 5px;
    padding-right: 5px;
  }
  &__input--passengers {
    width: auto;
    min-width: 10px;
    max-width: 49%;
    padding-left: 5px;
    padding-right: 5px;
  }
  &__text--passengers {
    border: 1px solid $color-tr-layout;
    border-radius: 2px;
  }
  &__text--passengers-parents {
    margin-right: 5px;
  }
  &__input--1-2 {
    width: 49%;
  }
  &__input--passengers {
    //width: 30px;
  }
  &__input--passengers-parents {
    width: 50%;
  }
  &__input--passengers-childs {
    width: 50%;
  }
  &__input--departure-date {
    width: 50%;
  }
  &__input--arrival-date {
    width: 50%;
  }
  &__input--regions {
    display: none;
  }
  &__container {
    margin-bottom: 30px;
  }
  &__area {
    padding: 15px;
    border-radius: 2px;
  }
  &__area-group {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__button--submit {
    height: 50px;
    padding: 0 15px;
  }
  &__button--clear-selection {
    height: 50px;
    padding: 0 15px;
  }
  &__button--select-region {
    margin-right: 15px;
    padding: 10px 20px;
  }
  &__selection-name-container {
    margin-right: 30px;
  }
  &__area {
    margin-bottom: 25px;
  }
  &__region-name {
    display: block;
    margin-bottom: 15px;
  }
  &__container:last-child {
    margin-bottom: 0;
  }

  &__dropdown-menu-button {
    //display: block; - т.к. задаётся стиле .flex__container
    width: 100%;
    height: 50px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border: 1px solid $color-13-layout;
  }


  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__button {

  }
  &__label {
    @include font( $size: 12px);
  }
  &__input-text {
    //form__input-text
    @include font( $size: 15px);
  }
  &__region-name {
    @include font( $size: 15px);
  }
  &__dropdown-menu-placeholder {
    @include font( $size: 15px);
  }




  &__rating-hotels-wrapper {
    .icons__wrapper {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .hide {
      display: none;
      //todo: разобраться со стилями hide & show во всём документе
    }
  }


  &__rating-hotels-number-wrapper {
    //todo: сделать файл со стилями конкретных модулей - hotel-rating-stars, hotel-rating-number
    .icons__wrapper {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .hide {
      display: none;
      //todo: разобраться со стилями hide & show во всём документе
    }
  }

  &__label--hide {
      display: none;
   }

  /*Fonts ( end )*/
  /*Colors ( begin )*/
  &__button--submit {
    background-color: #ff8e41;
  }
  &__label {
    color: $color-13-layout;
  }
  /*Colors ( end )*/
  /*Decorate ( begin )*/

  &__button--submit {
    border-radius: 4px;
  }



  /*Decorate ( end )*/

}


//todo: Разбить стили для всех ворм и для контектной формы
.form--clients-interests {
  &__fields-row {
    position: relative;
    left: 1px;
    top: 1px;
  }


  &__input-wrapper--row-2 {
    margin-left: -1px;
    margin-top: -1px;
  }
  &__input-wrapper--row-2:nth-child(1) .form__dropdown-menu-button {
    border-top-left-radius:    $border-radius-fields;
    border-bottom-left-radius: $border-radius-fields;
  }
  &__input-wrapper--row-2:nth-child(4) .form__dropdown-menu-button {
    border-top-right-radius:    $border-radius-fields;
    border-bottom-right-radius: $border-radius-fields;
  }


  &__input-wrapper--row-3 {
    margin-left: -1px;
    margin-top: -1px;
  }
  &__input-wrapper--row-3:nth-child(1) .form__dropdown-menu-button {
    border-top-left-radius:    $border-radius-fields;
    border-bottom-left-radius: $border-radius-fields;
  }
  &__input-wrapper--row-3:nth-child(4) .form__dropdown-menu-button {
    border-top-right-radius:    $border-radius-fields;
    border-bottom-right-radius: $border-radius-fields;
  }
}

@media ( max-width: 1199px ) {
  .form--clients-interests {
    &__input-wrapper--row-2:nth-child(1) .form__dropdown-menu-button {
      border-top-left-radius:    $border-radius-fields;
      border-bottom-left-radius: $border-radius-fields;
    }
    &__input-wrapper--row-2:nth-child(2) .form__dropdown-menu-button {
      border-top-right-radius:    $border-radius-fields;
      border-bottom-right-radius: $border-radius-fields;
    }
    &__input-wrapper--row-2:nth-child(3) .form__dropdown-menu-button {
      border-top-left-radius:    $border-radius-fields;
      border-bottom-left-radius: $border-radius-fields;
    }
    &__input-wrapper--row-2:nth-child(4) .form__dropdown-menu-button {
      border-top-right-radius:    $border-radius-fields;
      border-bottom-right-radius: $border-radius-fields;
    }
    

    &__input-wrapper--row-3:nth-child(3) .form__dropdown-menu-button {
      border-top-right-radius:    $border-radius-fields;
      border-bottom-right-radius: $border-radius-fields;
    }
    &__input-wrapper--row-3:nth-child(4) .form__dropdown-menu-button {
      border-radius: $border-radius-fields;
    }
  }
}

@media ( max-width: 991px ) {
  .form--clients-interests {
    &__input-wrapper--row-2 .form__dropdown-menu-button {
      border-radius: $border-radius-fields;
    }

    &__input-wrapper--row-3 .form__dropdown-menu-button {
      border-radius: $border-radius-fields;
    }
  }
}

@media ( max-width: 767px ) {
  .form--clients-interests {

  }
}