.interests {
/*Position ( begin )*/
  position: relative;
  .title {
    position: absolute;
    top: -70px;
  }

  .dropdown-menu__wrapper {
    position: relative;
  }
  .dropdown-menu__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
  }

  .show {
    display:block;
  }

  .sliders__time-between-boardings-wrapper {
    padding: 30px;
    padding-top: 60px;
  }
  .dates__dropdown-menu--content {
    left: 0;
    width: 300px;
  }

  .sliders__interests-prices-wrapper {
    padding: 30px;
    padding-top: 60px;
  }
  .prices__dropdown-menu--content {
    right: 0;
    width: 300px;
  }

  .noUi-handle-upper {

  }

  /*Position ( end )*/
/*Fonts ( begin )*/
  .title {
    @include font( $size: 22px );
  }
/*Fonts ( end )*/
/*Colors ( begin )*/
  @include block__colors (
           $backgroundColor: $color-4-layout,
           $iconsColor: $color-4-layout
  );
  .buttons__interests-form--submit {
    .icons {
      fill: $color-9-layout;
    }
  }
  .pills__interests-form--country {
    .icons {
      fill: $color-13-layout;
    }
  }
  /*Colors ( end )*/
  /*Decorate ( begin )*/
  border: 1px solid $color-13-layout;
  /*Decorate ( end )*/
}