.links {
  transition:
  color $transition-duration-links,
  background-color $transition-duration-links;
}

.icons {
  transition:
  fill $transition-duration-links,
  background-color $transition-duration-links;
}

.buttons {
  transition:
  color $transition-duration-links,
  fill $transition-duration-links,
  background-color $transition-duration-links,
  opacity $transition-duration-links;
}

.tabs__content,
.tabs__title-marker--bottom {
  transition: opacity 1.5s linear;
}

.icons__svg-color {
  transition: fill $transition-duration-svgs;
}

  .semantic__main-nav-link {
    transition:
    color $transition-duration-links,
    background-color $transition-duration-links;
  }



.custom-checkbox {
  &__input + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
  }
  &__input:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }
  &__input:disabled + .cr {
    opacity: .5;
  }
}



/* Modal Windows */
/* Add Animation */
.modal-content {
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}