.links {
  color: inherit;
}

.page-wrapper {
  @include block__colors (
    $backgroundColor: $color-11-layout
  );
}

.icons__svg {
  fill: #000000;
}

.rating .icons__svg {
  &--color {
    fill: $color-6-layout;
  }
  &--nocolor {
    fill: $color-15-layout;
  }
}


/*Custom checkbox styles ( begin ) */
.custom-checkbox {
  &__label .cr {
    border: 1px solid #a9a9a9;
  }
}
/*Custom checkbox styles ( end ) */