.form {
  /*Position ( begin )*/
  &__label {
    display: block;
    margin-bottom: 10px;
  }
  &__input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    border: 1px solid $color-13-layout;
    border-radius: 2px;
  }
  &__text--passengers {
    border: 1px solid $color-13-layout;
    border-radius: 2px;
  }
  &__input--1-2 {
    width: 50%;
  }
  &__input--passengers {
    width: 30px;
  }
  &__input--passengers-parents {
    width: 50%;
  }
  &__input--passengers-childs {
    width: 50%;
  }
  &__input--departure-date {
    width: 50%;
  }
  &__input--arrival-date {
    width: 50%;
  }
  &__input--regions {
    display: none;
  }
  &__container {
    margin-bottom: 30px;
  }
  &__area {
    padding: 15px;
    border-radius: 2px;
  }
  &__area-group {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__button--submit {
    height: 50px;
    padding: 0 15px;
  }
  &__button--clear-selection {
    height: 50px;
    padding: 0 15px;
  }
  &__button--select-region {
    margin-right: 15px;
    padding: 10px 20px;
  }
  &__selection-name-container {
    margin-right: 30px;
  }
  &__area {
    margin-bottom: 25px;
  }
  &__region-name {
    display: block;
    margin-bottom: 15px;
  }
  &__container:last-child {
    margin-bottom: 0;
  }
  /*Position ( end )*/
  /*Fonts ( begin )*/
  &__button {

  }
  &__label {
    @include font( $size: 12px);
  }
  &__input {
    @include font( $size: 15px);
  }
  &__region-name {
    @include font( $size: 15px);
  }




  &__rating-hotels-wrapper {
    .icons__wrapper {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .hide {
      display: none;
      //todo: разобраться со стилями hide & show во всём документе
    }
  }


  &__rating-hotels-number-wrapper {
    //todo: сделать файл со стилями конкретных модулей - hotel-rating-stars, hotel-rating-number
    .icons__wrapper {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .hide {
      display: none;
      //todo: разобраться со стилями hide & show во всём документе
    }
  }



  /*Fonts ( end )*/
  /*Colors ( begin )*/
  &__button--submit {
    background-color: #ff8e41;
  }
  &__label {
    color: $color-13-layout;
  }
  &__area, &__input {
    border-color: $color-13-layout;
  }
  /*Colors ( end )*/
  /*Decorate ( begin )*/
  &__area {
    border: 1px solid $color-13-layout;
  }
  &__button--submit {
    border-radius: 4px;
  }



  /*Decorate ( end )*/

}


