
.pills {
  &__interests-form {
    &--country {
      @include  font( $size: 15px );
      @include  pills__image-and-icon (
              $border: '1px solid #{$color-tr-layout}',
              $padding: '2px 10px',
              $color: $color-2-layout,
              $backgroundColor: $color-11-layout,
              $iconWrapperColor: transparent,
              $iconColor: $color-13-layout
      );
      margin-right: 15px;

      .links:hover .icons {
        fill: $color-8-layout;
      }
    }
    &--nutrition, &--location, &--cities {
      display: inline-block;
      @include  font( $size: 15px );
      @include  pills__image-and-icon (
              $border: '1px solid #{$color-10-layout}',
              $borderRadiusIconWrapper: '50%',
              $padding: '2px 10px',
              $color: $color-2-layout,
              $backgroundColor: $color-tr-layout,
              $iconWrapperColor: $color-14-layout,
              $iconColor: $color-13-layout
      );
      //margin-right: 15px;
      margin-top:    2.5px;
      margin-bottom: 2.5px;

      &:nth-child(2) {
        margin-top: 5px;
      }
      &:last-child {
        margin-bottom: 5px;
      }

      .links:hover .icons {
        fill: $color-8-layout;
      }
    }
  }
}