ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

legend {
  margin-bottom: 0px;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  border: none;
}
