/*Images */
.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.image {
  @include absolute_alignment;
  display: block;
  @include max_stretching;
}

.logo-link {
  width: 120px;
}