
.main-wrapper {
  margin-bottom: 90px;
}

//Layout margins and paddings
.margin-bottom-20 {
  margin-bottom: 20px;
}


.margin-left-right-text-spacer-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-right-text-spacer-5 {
  margin-right: 5px;
}