// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


// =============================================================================
// Font
// =============================================================================

@mixin font( $family: $body--font-family,
             $contour:        'sans-serif',
             $size:           13px,
             $text-transform: none,
             $line-height:    normal,
             $letter-spacing: normal
           ) {
  font-family: $family, unquote( $contour );
  font-size:   ( $size );

  @if ( $text-transform == 'up' ) {
    text-transform: uppercase;
  }
  @if ( $text-transform == 'cap' ) {
    text-transform: capitalize;
  }

  @if ( type_of( $line-height ) == number ) {
    line-height: $line-height;
  }

  @if ( type_of( $letter-spacing ) == number ) {
    letter-spacing: $letter-spacing;
  }

}


// =============================================================================
// Absolute stretching
// =============================================================================

@mixin absolute_stretching {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


// =============================================================================
// Absolute alignment
// =============================================================================
@mixin absolute_alignment {
  @include absolute_stretching;
  margin: auto;
}


// =============================================================================
// Absolute max stretching
// =============================================================================
@mixin max_stretching {
  max-width: 100%;
  max-height: 100%;
}


// =============================================================================
// Custom width flex items
// =============================================================================
@mixin flex__item--custom-width( $integerPart: 1, $fractionalPart: 5 ) {
  .flex__item--custom-width-#{$integerPart}-#{$fractionalPart} {
    flex-grow: unquote( $integerPart + '.' + $fractionalPart );
    flex-basis: 0;
  }
}


// =============================================================================
// Buttons ( text + icon with background )
// =============================================================================
@mixin buttons__text-and-icon-with-bg (
  $height: '50px',
  $padding: '0px 10px',
  $border: '1px solid #000000',
  $borderRadius: '4px',
  $color: $color-4-layout,
  $backgroundColor: $color-3-layout,
  $widthIconWrapper: '20px',
  $heightIconWrapper: '20px',
  $widthIcon: '10px',
  $heightIcon: '10px',
  $marginIconWrapper: '0px',
  $borderRadiusIconWrapper: '50%',
  $iconWrapperColor: $color-7-layout,
  $iconColor: $color-4-layout
)
{
  /*Position ( begin )*/
  height: unquote( $height );
  padding: unquote( $padding );
  /*Position ( end )*/
  /*Colors ( begin )*/
  color: $color;
  background-color: $backgroundColor;

  .icons__wrapper {
    display: inline-block;
    width:  unquote( $widthIconWrapper );
    height: unquote( $heightIconWrapper );
    margin: unquote( $marginIconWrapper );
    background-color: $iconWrapperColor;
    border-radius: unquote( $borderRadiusIconWrapper );
  }
  .icons {
    width:  unquote( $widthIcon );
    height: unquote( $heightIcon );
    color: $iconColor;
    fill:  $iconColor;
  }
  /*Colors ( end )*/
  /*Decorate ( begin )*/
  border: unquote( $border );
  border-radius: unquote( $borderRadius );
  /*Decorate ( end )*/
}


// =============================================================================
// Pills with image and icon
// =============================================================================
@mixin pills__image-and-icon (
  $height: 'auto',
  $padding: '0px 10px',
  $border: '1px solid #000000',
  $borderRadius: '25px',
  $color: $color-4-layout,
  $backgroundColor: $color-3-layout,
  $widthIconWrapper: '20px',
  $heightIconWrapper: '20px',
  $widthIcon: '10px',
  $heightIcon: '10px',
  $marginIconWrapper: '0px',
  $borderRadiusIconWrapper: '0px',
  $iconWrapperColor: $color-7-layout,
  $iconColor: $color-4-layout,

  $widthImageWrapper: '30px',
  $heightImageWrapper: '15px'
)
{
  /*Position ( begin )*/
  height: unquote( $height );
  padding: unquote( $padding );

  .pills__image-wrapper {
    width: unquote( $widthImageWrapper );
    height: unquote( $heightImageWrapper );
  }
  /*Position ( end )*/
  /*Colors ( begin )*/
  color: $color;
  background-color: $backgroundColor;

  .icons__wrapper {
    display: inline-block;
    width:  unquote( $widthIconWrapper );
    height: unquote( $heightIconWrapper );
    margin: unquote( $marginIconWrapper );
    background-color: $iconWrapperColor;
    border-radius: unquote( $borderRadiusIconWrapper );
  }
  .icons {
    width:  unquote( $widthIcon );
    height: unquote( $heightIcon );
    color: $iconColor;
    fill:  $iconColor;
  }
  /*Colors ( end )*/
  /*Decorate ( begin )*/
  border: unquote( $border );
  border-radius: unquote( $borderRadius );
  /*Decorate ( end )*/
}


// =============================================================================
// Block colors
// =============================================================================
@mixin block__colors (
  $textColor:       $color-2-layout,
  $backgroundColor: $color-4-layout,
  $linksColor:      $color-2-layout,
  $iconsColor:      $color-2-layout
)
{
  color: $textColor;
  background-color: $backgroundColor;

  .links {
    color: $linksColor;
  }

  .icons {
    color: $iconsColor;
    fill: $iconsColor;
  }
}


// =============================================================================
// Tabs
// =============================================================================
@mixin tabs__titles (
  $paddingTopBottom: '14px',
  $paddingLeftRight: '16px',
  $paddingTabs: '20px'
)
{
  .tabs {
    padding-left:  unquote( $paddingTabs );
    padding-right: unquote( $paddingTabs );
  }
  .tabs__title {
    padding: unquote( $paddingTopBottom + ' ' + $paddingLeftRight );
  }
  .tabs__title:first-child {
    margin-left: - unquote( $paddingLeftRight );
  }
  .tabs__title.active {
    .tabs__title-marker--bottom {
      left: unquote( $paddingLeftRight );
      right: unquote( $paddingLeftRight );
    }
  }
}