//Fkexbox Grid
.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;
}

.row__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.col--order--1 {
  order: -1;
}


.col--test {
  padding: 20px;

  color: #309ac6;

  box-sizing: border-box;
}