.semantic {
  &__dropdown-menu {
    position: relative;
  }

  &__dropdown-menu-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  &__dropdown-menu-open-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    display: flex;
    align-items: center;

    @include  buttons__text-and-icon-with-bg (
            $height: 'auto',
            $border: '1px solid #{$color-tr-layout}',
            $padding: '0px 0px 0px 0px',
            $color: $color-2-layout,
            $backgroundColor: $color-tr-layout,
            $iconWrapperColor: $color-tr-layout,
            $widthIconWrapper:  '20px',
            $heightIconWrapper: '20px',
            $widthIcon: '20px',
            $heightIcon: '20px',
            $marginIconWrapper: '0px',
            $iconColor: $color-2-layout
    );

    opacity: 0.8;
  }
}




