.hide {
  display: none;
}


.show {
  display:block;
  opacity: 1;

  &--block {
    display:block;
    opacity: 1;
  }
  &--inline-block {
    display: inline-block;
    opacity: 1;
  }
}
//todo: сделать класс с opacity 0